
.image-add{
    position: relative;
    height: 500px;
    overflow: hidden;
    background-image: url('https://media.istockphoto.com/photos/portrait-of-young-latina-marketing-specialist-working-on-laptop-in-picture-id1298861980?b=1&k=20&m=1298861980&s=170667a&w=0&h=n0PtWzYOSDg1XU5S2nNUdM6C8SlFcj0o-Ayc7TsPKPc=');
    background-size: cover;
}
.developer{
    color: white;
}